*
{
    margin: 0;
}
body
{
font: 13px/1.5 Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif;
background-image: url(../img/administrar/23.jpg); 
background-repeat: repeat-y; 
background-size: 100%; 
}


.wrapper1
{
margin-left: auto;
margin-right: auto;
width: 1024px;
}

.wrapper
{
margin-left: auto;
margin-right: auto;
margin-top: 1%;
width: 1124px;
height:250px;
border-radius:8px;
}

.row{
    margin-top:2%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
}

#logoradio{
    width:300px;  
}

.marco{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.marco1{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#imgusuario1{
  width: 170px;  
  height: 150px;
}


#breadcrumb {
  list-style: none;
  display: inline-block;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #808185;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #808185;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #808185;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #808185;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #808185;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #808185;
}
#breadcrumb li a:hover {
  background-color: #1abc9c;
}
#breadcrumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #1abc9c;
}
#breadcrumb li a:active {
  background-color: #16a085;
}
#breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #16a085;
}

.marcotabla{
    border-radius:5px;
    margin-top:8px;
}


.tabla{
    background:#FFF;
}











